@import url('https://fonts.googleapis.com/css2?family=Reggae+One&family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Reggae One', sans-serif;
    background-color: #ffe9f6;
}

nav {
    background-color: #ff5aa7;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin-left: 20px;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 16px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #ff80c0;
    padding: 10px;
}

.active a {
    font-weight: bold;
    background-color: #ff3b96 !important;
}

header {
    position: relative;
    background-image: url('images/mainbanner.png');
    color: #350000;
    text-align: center;
    padding: 100px 0;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}

header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: saturate(1.5) blur(2px);
}

#title {
    position: relative;
    z-index: 1;
    background-color: #ffffff7e;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 16px;
}

h1 {
    font-size: 5rem;
    color: #ff3b96;
    margin: 10px;
    text-shadow:
        4px 4px 0 #ffe9f6,
        -4px 4px 0 #ffe9f6,
        4px -4px 0 #ffe9f6,
        -4px -4px 0 #ffe9f6;
}

main {
    height: 200vh;
    display: grid;
    grid-template-areas: "header header header"
                         "telegram telegram emblem"
                         "spring area area"
                         "mainbase mainbase mainbase";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 30px;
    transition: all 0.3s ease;
}

main div {
    border-radius: 26px;
    background-color: #ff74b5;
    padding: 30px;
    font-size: 1.4rem;
}

main div p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6rem;
    font-weight: bold;
    margin: 20px;
}

main div img {
    width: 100%;
    border-radius: 16px;
}

#head {
    grid-area: header;
}

#telegram {
    grid-area: telegram;
    background-color: #8fd8ec;
    background-image: url('images/water.png');
    background-repeat: repeat;
    background-size: 100px;
    cursor: pointer;
    position: relative;
    animation: background-water 5s infinite linear;
}

#telegram > * {
    position: relative;
    z-index: 1;
}

#telegram:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
    z-index: 0;
}

@keyframes background-water {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100px 0;
    }
}

#redirect {
    position: absolute; 
    bottom: 30px; 
    right: 30px; 
    width: 24px; 
    height: 24px;
}

#emblem {
    grid-area: emblem;
    display: flex;
    align-items: center;
    background-color: #fc93c4;
}

#emblem img {
    width: 50%;
    border-radius: 100%;
    box-shadow: 0 0 0 10px #ffffff;
    margin: 0 auto;
}

#spring {
    color: #000000;
    grid-area: spring;
    background-image: url('images/spring.png');
    background-size: cover;
    background-position: center;
    transition: all 0.3s ease;
    cursor: url('images/bucket.png') 32 32, auto;
}

#spring:hover {
    color: #ffc53d;
    background-image: url('images/cavewater1.png');
}

#spring h2 {
    background-color: #ffffff5d;
    padding: 10px;
    border-radius: 16px;
}

#area {
    grid-area: area;
}

#mainbase {
    grid-area: mainbase;
    background: linear-gradient(to right, pink 20%, rgba(0, 0, 0, 0) 80%), url('images/portal.png') no-repeat center;
    background-size: 200% 100%, cover;
    background-position: left, center;
    transition: all 0.6s ease;
}

#mainbase:hover {
    background-position: -500px, center;
}

#mainbase p {
    width: 40%;
    text-wrap-style: wrap;
}

#visit {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

#form {
    display: block;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

#form input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ff3b96;
}

#form input:focus {
    outline: none;
    border: 1px solid #ff80c0;
}

#form select {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ff3b96;
}

#form select:focus {
    outline: none;
    border: 1px solid #ff80c0;
}

#submit {
    padding: 10px 20px;
    background-color: #ff3b96;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit:hover {
    background-color: #5b002e;
}